//Colors
$header-color: #fffdf7;
$primary-color: #497555;
$form-label-color: #666666;
$gray-color: #565656;
$mint-green: #e8f0e3;
$beige-background: #ebe3d3;
$alabaster: #f7f1ec;



//Fonts
$logo-font: 'Playfair Display', serif;
$main-font: 'Inter', sans-serif;
