@use 'fonts-and-colors' as *;

.order-success-container{
  height: 100vh;
  background-color: $alabaster;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a {
    color: black;
    text-decoration: none;

    &:hover{
      color: $primary-color;
    }
  }
}