@use 'fonts-and-colors' as *;

.product-detail-container {
  border-top: 1px solid #f9f8f2;
  display: flex;
  flex-direction: row;
  background-color: $header-color;
  padding-bottom: 300px;

  .detail-image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    .image-frame {
      width: 900px; 
      height: 900px; 
      overflow: hidden; 
      display: flex;
      align-items: center;
      justify-content: center;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

  .product-details {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 900px;
    justify-content: space-between;

    .details {
      width: 80%;
      margin-top: 95px;
      height: 50%;
      
      h1 {
        font-size: 20px;
        font-weight: 400;
      }

      .price {
        font-size: 30px;
        font-weight: 100;
      }

      h2 {
        font-size: 13px;
        font-weight: 300;
        opacity: 0.8;
      }

      .description {
        font-size: 17px;
        opacity: 0.8;
        max-height: 260px; 
        overflow-y: auto; 
        padding: 0px 10px 10px 0px;
      }
    }
   
  }

  .add-btn {
    width: 80%;

    .add-to-cart {
      width: 100%;
      height: 77px;
      background-color: $gray-color;
      color: white;
      justify-self: baseline;
      border: 1px solid transparent;
      text-decoration: none;
    
      cursor: pointer;

      &:hover {
        background-color: $form-label-color;
      }
    } 

    a{
      justify-self: center;
      color: black;
    }

    a:hover {
      color: $primary-color;
    }
  }
  .flash-message.success {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    margin-bottom: 20px;
}

.flash-message.error {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin-bottom: 20px;
}

}