body {
  font-family: Arial, sans-serif;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

header {
  background-color: #fffdf7;
  display: flex;
  flex-direction: row;
  padding: 10px 30px;
}
header .logo {
  display: flex;
  flex-direction: row;
  width: 20%;
  align-items: center;
  justify-content: space-evenly;
  justify-content: center;
  gap: 10px;
  font-family: "Playfair Display", serif;
  color: #497555;
  font-weight: 400;
}
header .logo img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin: 15px 5px 0px 0px;
}
header .logo .logo-text {
  font-size: 17px;
}
header .logo .logo-link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: #497555;
  font-family: "Playfair Display", serif;
}
header nav {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
header nav .nav-menu {
  display: flex;
  flex-direction: row;
  width: 60%;
  list-style: none;
  justify-content: space-evenly;
  cursor: pointer;
}
header nav .nav-menu li a {
  text-decoration: none;
  color: black;
}

main {
  flex: 1;
}

footer {
  padding: 20px 30px;
  text-align: right;
  cursor: pointer;
}

.registration-container {
  background-color: #fffdf7;
  margin: 0px;
  display: flex;
  flex-direction: row;
}
.registration-container .image-registration {
  width: 50%;
}
.registration-container .image-registration img {
  height: 100%;
  object-fit: cover;
}
.registration-container .subscription-form {
  border-top: 1px solid #f9f8f2;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 120px 0px 0px 130px;
}
.registration-container .subscription-form h1, .registration-container .subscription-form p {
  align-self: flex-start;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  margin: 0;
}
.registration-container .subscription-form p {
  color: #666666;
  margin-top: 20px;
}
.registration-container .subscription-form .form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 600px;
  margin-top: 30px;
}
.registration-container .subscription-form .form .form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.registration-container .subscription-form .form .form-group label {
  margin-bottom: 5px;
  color: #666666;
}
.registration-container .subscription-form .form .form-group input, .registration-container .subscription-form .form .form-group select, .registration-container .subscription-form .form .form-group textarea {
  padding: 8px;
  border: 1px solid #666666;
  height: 35px;
  background-color: #fffdf7;
}
.registration-container .subscription-form .form-group.checkbox {
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}
.registration-container .subscription-form .form-group.checkbox input[type=checkbox] {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 0;
  outline: none;
  position: relative;
  appearance: none;
}
.registration-container .subscription-form .form-group.checkbox input[type=checkbox]:checked {
  background-color: #497555;
  content: "";
}
.registration-container .subscription-form .form-group.checkbox label {
  padding-top: 5px;
}
.registration-container .subscription-form button {
  height: 60px;
  margin-top: 10px;
  background-color: #565656;
  color: white;
}
.registration-container .connection-account {
  margin-top: 20px;
  text-align: center;
  width: 80%;
}
.registration-container .connection-account a {
  color: #666666;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.login-container {
  background-color: #fffdf7;
  margin: 0px;
  display: flex;
  flex-direction: row;
}
.login-container .image-login {
  width: 50%;
}
.login-container .image-login img {
  height: 100%;
  object-fit: cover;
}
.login-container .subscription-form {
  border-top: 1px solid #f9f8f2;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 120px 0px 0px 130px;
}
.login-container .subscription-form h1, .login-container .subscription-form p {
  align-self: flex-start;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  margin: 0;
}
.login-container .subscription-form p {
  color: #666666;
  margin-top: 20px;
}
.login-container .subscription-form .form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 300px;
  margin-top: 30px;
}
.login-container .subscription-form .form .form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 25px;
}
.login-container .subscription-form .form .form-group label {
  margin-bottom: 5px;
  color: #666666;
}
.login-container .subscription-form .form .form-group input, .login-container .subscription-form .form .form-group select, .login-container .subscription-form .form .form-group textarea {
  padding: 8px;
  border: 1px solid #666666;
  height: 35px;
  background-color: #fffdf7;
}
.login-container .subscription-form .form label {
  padding-top: 5px;
}
.login-container .subscription-form button {
  height: 60px;
  margin-top: 25px;
  background-color: #565656;
  color: white;
  width: 100%;
}
.login-container .register-account {
  margin-top: 20px;
  text-align: center;
  width: 80%;
}
.login-container .register-account a {
  color: #666666;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.homepage-container .welcome-container {
  display: flex;
  flex-direction: row;
}
.homepage-container .welcome-container .welcome-container_text {
  width: 50%;
  background-color: #e8f0e3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homepage-container .welcome-container .welcome-container_text h1 {
  width: 51%;
  font-family: "Inter", sans-serif;
  font-size: 50px;
  font-weight: 500;
  cursor: pointer;
}
.homepage-container .welcome-container .welcome-container_text p {
  width: 51%;
  font-size: 20px;
  font-weight: 100;
  margin-top: 10px;
  margin-bottom: 0;
  cursor: pointer;
}
.homepage-container .welcome-container .welcome-container_text .line-before-br {
  display: inline-block;
}
.homepage-container .welcome-container .welcome-container_text .line-after-br {
  display: inline-block;
  margin-top: 20px;
}
.homepage-container .welcome-container_photo {
  width: 50%;
  object-fit: cover;
}
.homepage-container .welcome-container_photo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.homepage-container .our-products {
  border: 1px solid #fffdf7;
  background-color: #fffdf7;
}
.homepage-container .our-products h2 {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  width: 80%;
  margin: 35px 0px 35px 65px;
  cursor: pointer;
}
.homepage-container .our-products_cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.homepage-container .our-products_cards .our-products_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  background-color: #fffdf7;
}
.homepage-container .our-products_cards .our-products_card .image-frame {
  width: 100%;
  height: 474px;
  margin-bottom: 20px;
}
.homepage-container .our-products_cards .our-products_card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.homepage-container .our-products_cards .our-products_card .product-card_details {
  width: 100%;
}
.homepage-container .our-products_cards .our-products_card .product-card_details p {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.homepage-container .our-products_cards .our-products_card .product-card_details .product-card_name {
  font-size: 17px;
  font-weight: 600;
}
.homepage-container .our-products_cards .our-products_card .product-card_details .product-card_description, .homepage-container .our-products_cards .our-products_card .product-card_details .product-card_price {
  font-size: 14px;
  opacity: 0.6;
}
.homepage-container .our-products_cards .our-products_card a {
  text-decoration: none;
  margin: 40px 0px 30px 0px;
  font-size: 14px;
  color: black;
}
.homepage-container .our-products_cards .our-products_card a:hover {
  color: #497555;
}
.homepage-container .conviction-values-container .conviction-values-container_conviction {
  display: flex;
  flex-direction: row;
}
.homepage-container .conviction-values-container .conviction-values-container_conviction .conviction-values-container_conviction_text {
  background-color: #ebe3d3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 60%;
}
.homepage-container .conviction-values-container .conviction-values-container_conviction .conviction-values-container_conviction_text h3 {
  width: 50%;
  font-weight: 400;
  margin-left: 50px;
  font-size: 25px;
}
.homepage-container .conviction-values-container .conviction-values-container_conviction .conviction-values-container_conviction_text p {
  width: 57%;
  font-weight: 200;
  margin: 0px 0px 50px 50px;
  text-align: left;
  font-size: 15px;
  opacity: 0.8;
}
.homepage-container .conviction-values-container .conviction-values-container_conviction .conviction-values-container_conviction_image {
  width: 40%;
}
.homepage-container .conviction-values-container .conviction-values-container_conviction .conviction-values-container_conviction_image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.homepage-container .conviction-values-container .conviction-values-container_values {
  display: flex;
  flex-direction: row;
}
.homepage-container .conviction-values-container .conviction-values-container_values .conviction-values-container_values_image {
  width: 40%;
}
.homepage-container .conviction-values-container .conviction-values-container_values .conviction-values-container_values_image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.homepage-container .conviction-values-container .conviction-values-container_values .conviction-values-container_values_text {
  background-color: #e8f0e3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 60%;
}
.homepage-container .conviction-values-container .conviction-values-container_values .conviction-values-container_values_text h3 {
  width: 50%;
  font-weight: 400;
  margin-right: 75px;
  font-size: 25px;
}
.homepage-container .conviction-values-container .conviction-values-container_values .conviction-values-container_values_text p {
  width: 47%;
  font-weight: 200;
  margin: 0px 100px 50px 0px;
  text-align: left;
  font-size: 15px;
  opacity: 0.8;
}

.product-detail-container {
  border-top: 1px solid #f9f8f2;
  display: flex;
  flex-direction: row;
  background-color: #fffdf7;
  padding-bottom: 300px;
}
.product-detail-container .detail-image {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-detail-container .detail-image .image-frame {
  width: 900px;
  height: 900px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-detail-container .detail-image .image-frame img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.product-detail-container .product-details {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 900px;
  justify-content: space-between;
}
.product-detail-container .product-details .details {
  width: 80%;
  margin-top: 95px;
  height: 50%;
}
.product-detail-container .product-details .details h1 {
  font-size: 20px;
  font-weight: 400;
}
.product-detail-container .product-details .details .price {
  font-size: 30px;
  font-weight: 100;
}
.product-detail-container .product-details .details h2 {
  font-size: 13px;
  font-weight: 300;
  opacity: 0.8;
}
.product-detail-container .product-details .details .description {
  font-size: 17px;
  opacity: 0.8;
  max-height: 260px;
  overflow-y: auto;
  padding: 0px 10px 10px 0px;
}
.product-detail-container .add-btn {
  width: 80%;
}
.product-detail-container .add-btn button {
  width: 100%;
  height: 77px;
  background-color: #565656;
  color: white;
  justify-self: baseline;
  border: 1px solid transparent;
  cursor: pointer;
}
.product-detail-container .add-btn button:hover {
  background-color: #666666;
}

.cart-container {
  background-color: #f7f1ec;
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.cart-container .cart {
  width: 50%;
  height: auto;
}
.cart-container .cart h1 {
  font-weight: 200;
  text-align: center;
  font-size: 23px;
}
.cart-container .cart a {
  text-decoration: none;
  color: black;
  opacity: 0.6;
  font-size: 13px;
}
.cart-container .cart a:hover {
  color: black;
  opacity: 1;
}
.cart-container .cart .cart-product {
  display: flex;
  flex-direction: row;
  padding: 30px;
  background-color: #fffdf7;
  justify-content: space-around;
  margin: 25px 0px 5px 0px;
}
.cart-container .cart .cart-product .product-image {
  width: 200px;
  height: 200px;
}
.cart-container .cart .cart-product .product-detail {
  width: 55%;
}
.cart-container .cart .cart-product .product-detail .product-name {
  font-weight: 600;
  font-size: 17px;
}
.cart-container .cart .cart-product .product-detail .quantity {
  opacity: 0.6;
  font-size: 13px;
}
.cart-container .cart .cart-product .product-detail .price {
  font-size: 17px;
  font-weight: 200px;
}
.cart-container .cart .total-price {
  background-color: #fffdf7;
  text-align: right;
  padding: 10px 35px 0px 0px;
  height: 81px;
}
.cart-container .cart .total-price .ttl-price {
  font-size: 15px;
  font-weight: 200px;
}
.cart-container .cart .total-price .euros {
  font-size: 17px;
}
.cart-container .cart .total-price .delivery {
  font-size: 13px;
  opacity: 0.6;
}
.cart-container .checkout {
  margin-top: 25px;
  width: 70%;
  justify-self: center;
}
.cart-container .checkout .checkout-btn {
  width: 100%;
  height: 77px;
  background-color: #565656;
  color: white;
  cursor: pointer;
  border: 1px solid transparent;
}
.cart-container .checkout .checkout-btn:hover {
  background-color: #666666;
}

/*# sourceMappingURL=app.css.map */
