<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Eco Garden
			{% endblock %}
		</title>
		{% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href="{{ asset('assets/styles/app.css') }}">
		{% endblock %}

		{% block javascripts %}{% endblock %}
            {{ encore_entry_script_tags('app') }}
	</head>
	<body>
		<header>
			<div class="logo"> 
            <img src="{{ asset('images/logo.svg') }}" class="logo-image" alt="Logo">
						<p class="logo-text"> Green Goodies </p>
            </div>
			<nav>
				<ul class="nav-menu">
					<li>Nos produits</li>
					<li>Mon panier</li>
					<li>Mon compte</li>
					<li>Connexion</li>
				</ul>
			</nav>
		</header>
		<main>
			{% block body %}<!-- Content from child templates will go here -->{% endblock %}
		</main>

        <footer> © GreenGoodies - 2024 </footer>
	</body>
</html>
