{% extends 'base.html.twig' %} {% block title %}Green Goodies | Order Successful{% endblock %}
{% block body %}
<div class="order-success-container">
  <h1>Votre commande a été passée avec succès !</h1>
  <p>
    Merci pour votre achat ! Vous pouvez consulter l'historique de vos commandes dans votre compte.
  </p>
  <a href="{{ path('app_account') }}" class="see-orders">Voir mes commandes</a>
</div>
{% endblock %}
